/********** FONTS (Google-fonts) **********/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
body {
  font-family: "Roboto Slab";
  margin: 0; }

figure {
  margin: 0;
  line-height: 0; }

a {
  outline: none !important;
  color: inherit !important; }

/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/
/* Back to top Button */
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #fed136 !important;
  border-color: #fed136 !important; }

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
.navbar {
  height: 70px;
  color: white;
  background-color: #fed136 !important;
  font-family: "Kaushan Script", cursive;
  font-size: 20px; }

.navbar-brand {
  position: relative; }

.navbar-nav a {
  text-decoration: none; }

#logo {
  position: absolute;
  top: 0;
  left: 0; }

#logo img {
  height: 90px; }

/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#menu {
  padding-top: 100px; }

#carousel-example-generic {
  margin-bottom: 30px; }

.item {
  height: 500px; }

.item img {
  float: left;
  max-width: 50%;
  padding: 0 !important;
  height: 500px !important;
  position: absolute;
  width: 100%; }

.item a h5 {
  font-family: "Kaushan Script", cursive !important;
  font-size: 50px !important;
  color: white;
  position: relative;
  float: left;
  height: 400px;
  top: 10%;
  left: 30%;
  opacity: 0;
  transition: 700ms;
  width: 100%;
  text-shadow: 0px 0px 100px grey; }
  .item a h5:hover {
    opacity: 1; }

/*************************************/
/*=========    PRODUCTOS    =========*/
/***********************************/
#menu h2 {
  font-size: 60px;
  margin-bottom: 50px;
  font-family: "Kaushan Script"; }

#menu h3 {
  font-size: 40px; }

.titulo {
  font-size: 50px;
  color: black;
  position: absolute;
  float: left;
  top: 60%;
  left: 30%;
  font-family: "Kaushan Script" cursive; }

.productos {
  margin-bottom: 100px; }

.productos ul {
  list-style: none;
  padding-top: 75px;
  float: left;
  margin-left: 0; }

.combos {
  margin-top: 20px; }

.combos h6 {
  font-family: "Kaushan Script", cursive !important;
  font-size: 20px !important;
  padding-top: 20px; }

.combos a {
  text-decoration: none;
  /*height: 30px;*/
  /*padding: 8px 0;*/
  display: inline-block;
  /*transition: all 450ms linear;*/
  transition: 600ms;
  position: relative; }
  .combos a h5 {
    float: left;
    position: absolute;
    top: 10%;
    left: 40%;
    opacity: 0;
    transition: 700ms;
    font-family: "Kaushan Script", cursive !important;
    font-size: 20px !important; }
  .combos a:hover {
    background-color: rgba(255, 206, 71, 0.75);
    font-size: 20px !important;
    transform: scale(1.1); }
    .combos a:hover h5 {
      opacity: 1;
      padding-top: 20px; }

/***************************************/
/*=========      Encontrarnos      =========*/
/*************************************/
#ubicacion {
  padding-top: 50px; }

#ubicacion h2 {
  margin-bottom: 50px; }

/***************************************/
/*=========      Social      =========*/
/*************************************/
#social {
  padding-top: 100px;
  margin-bottom: 100px; }

#social a {
  margin-top: 50px;
  font-size: 100px !important;
  display: block;
  transition: all 500ms 100ms ease-in-out;
  height: 200px;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  margin: auto; }

#social .fa-facebook {
  color: #3b5998 !important; }

#social .fa-twitter {
  color: #55acee !important; }

#social .fa-pinterest {
  color: #bd081c !important; }

#social a:hover {
  background-color: #d7a1a1;
  font-size: 120px !important; }

/****************************************/
/*=========     PORTFOLIO     =========*/
/**************************************/
/**************************************/
/*=========     CONTACT     =========*/
/************************************/
/************************************/
/*=========     FOOTER     =========*/
/************************************/
#footer {
  background-color: #2f2e2e;
  color: white; }

#footer h2 {
  width: 30%;
  float: left;
  text-align: left;
  font-size: 15px; }

#footer p {
  font-size: 15px;
  padding-top: 20px;
  text-align: right;
  width: 30%;
  float: right; }

/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/
@media (max-width: 1000px) {
  #footer h2 {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 10px; }

  #footer p {
    float: none;
    text-align: center;
    width: 100%;
    font-size: 10px;
    padding-top: 0; } }
@media (max-width: 650px) {
  .item a h5 {
    font-size: 30px !important; } }
@media (max-width: 400px) {
  .item a h5 {
    font-size: 20px !important; } }

/*# sourceMappingURL=styles.css.map */
