/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/

// version SM


@media (max-width:1000px) {


#footer h2 {
	float:none;
	width:100%;
	text-align:center;
	font-size:10px;
}

#footer p{
	float:none;
	text-align:center;
	width:100%;
	font-size:10px;
	padding-top:0;

}


}



@media (max-width:768px) {

.navbar-default .navbar-nav>.active>a{
	background-color:$comp-color;
}


#nav-links{
	background-color:$comp-color;
ul{margin:0;
	height:124px;
}
	
li a{
	 border-bottom:1px solid grey;
	 font-size:20px;
	 height:30px;
	 


}
}
	.item a h5{
		font-size:30px !important;
	}
}


@media (max-width:400px) {

	.item a h5{
		font-size:20px !important;
	}
}
